$color: #2b2b2b;

body {
    background-color: $color;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
}

#pic {
    width: 800px;
    border-radius: 8px;
}

#itinerary {
    border: 2px solid cornflowerblue;
    border-collapse: collapse;
    width: 600px;
    text-align: center;
    th, td {
        border: 1px solid orchid;
        padding: 5px;
    }
}

a {
    color: lightsalmon;
    }

#link {
    color: deeppink
}  

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    width: fit-content;
    text-align: left;
}

.table > h3 {
    color: darkorange
}

%list {
    background-color: dimgray;
    width: fit-content;
}

.list {
    @extend %list;
    color: rgb(255, 240, 30);
}


@media (max-width: 800px) {
    #myHeader{
        background-color: chocolate;
    }
    #pic {
        width: 100%;
    }
    #itinerary {
        width: 80%;
    }
}

@media (min-width: 801px) {
    #myHeader{
        background-color: darkorchid;
    }
    }